@mixin visually-hidden(){
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@mixin card($pad: 1rem, $radius: $radius-md){
  background: $bg;
  border-radius: $radius;
  padding: $pad;
  box-shadow: 0 4px 8px rgba(15,23,42,0.06);
}
